<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Inicia Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!--Finaliza Bootstrap-->
  <link rel="stylesheet" href="../css/estilo.css" />
  <title>Sé Parte</title>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="/index.html">
        <img class="logo" src="/img/fresco.png" alt="logo red fresco" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li><a href="/pages/queHacemos.html">¿Qué hacemos?</a></li>
          <li><a href="/pages/serParte.html">Ser parte</a></li>
          <li><a href="/index.html">Inicio</a></li>
          <li><a href="/pages/redFresco.html">Red fresco</a></li>
          <li><a href="/pages/contacto.html">Contacto</a></li>
        </ul>
        <form class="buscar d-flex">
            <input
            id="caja_buscar"
            type="search"
            name="busquedaDeProducto"
            placeholder="Busque su producto..."
          />
          <input
            id="lupa"
            type="image"
            src="/img/icono_lupa.png"
            alt="Buscar"
            value="Buscar"
          />
        </form>
      </div>
    </div>
  </nav>
</header>
<main class="container-fluid" id="serParte">
  <div class="row">
    <div class="cuerpoCentralNoIndex col-xl-7 col-lg-8 col-md-6 col-sm-12 col-12">
      <div class="formulario">
        <input type="text" name="nombre"
        placeholder="Nombre o Razón social">
        <input type="text" name="direccion"
        placeholder="Dirección">
        <input type="email" name="correo"
        placeholder="Correo electrónico">
        <input type="tel" name="telefono"
        placeholder="Teléfono">
        <input id="enviar" type="submit" value="Enviar">
      </div>
    </div>
    <div class="ticket col-xl-4 col-lg-3 col-md-5 col-sm-6 col-6" id="ticketSerParte">
      <div class="tituloPagina" id="tituloTicketSerParte">
        <h1>Sé parte</h1>
      </div>
      <div class="bajada" id="bajadaSerParte">
        <p>Si tenés una verdulería y <br> querés ser parte de la <br> Fresco, llená el formulario y un agente comercial <br> visitará.</p>
      </div>
      <div class="ticketVacio"></div>
      <div class="Totales">
        <hr>
        <span class="total">***TOTAL***<span><span class="precioTotal">$00.00</span>
      </div>
    </div>
  </div>
</main>
<div>
  <a href="#"><img id="botonWhatsApp" src="../img/iconosRedes/whatsapp.png" alt="Icono de WhatsApp"></a>
</div>
<footer>
  <p class="agencia">Diseñado por Exacta</p>
  <div class="redes">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>
  <p class="derechos">Todos los derechos reservados por Red Fresco</p>
</footer> 
<!--JavaScript Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
