@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

#caja-buscar {
    border-radius: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 3;
    margin left: 5px;
    margin right: 5px;
}

#icono_login{
    margin left: 5px;
    margin right: 5px;
}

#icono_agregar{
    margin left: 5px;
    margin right: 5px;
}
#icono_logout{
    margin left: 5px;
    margin right: 5px;
}

#fotoPerfil{
    margin left: 5px;
    margin right: 10px;
}

#contenedor-principal{
    min-height: 70vh;
    position: relative;
}

#lista-de-productos {
    border: 1;
    border-style: solid; 
    border-radius: 20px;
    border-color: rgb(199, 199, 199);
    position: relative;
    z-index: 1;
}

#formulario-usuario{
    border: 1px;
    border-style: solid; 
    border-radius: 20px;
    border-color: rgb(199, 199, 199);
}

#formulario-registro{
    border: 1px;
    border-style: solid; 
    border-radius: 20px;
    border-color: rgb(199, 199, 199);
}

#formulario-crearproducto{
    border: 1px;
    border-style: solid; 
    border-radius: 20px;
    border-color: rgb(199, 199, 199);
}


#contenedor-ticket {
    border: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: rgb(228, 228, 228);
    background-color: rgb(255, 255, 255);
    font-family: Roboto, Courier, Sans serif;
    font-size: small;
    font-;
    text-align: center;
    padding-top: 1.5em;
    padding-left: 0.5em;
    padding_right: 0.5em;
    padding_bottom: 1em;
    position: absolute;
    z-index: 3;
    right: 0;
    opacity: 0.6;
}

#correo{
    border-radius: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 3;
}

#clave{
    border-radius: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 3;
}

#direccion{
    border-radius: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 3;
}

#nombre{
    border-radius: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 3;
}

#img_producto{
    opacity: 0.9;
    max-width: 76px;
}

#titulo_tarjeta {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    align: center;
}

#texto_tarjeta {
    font-family: 'Poppins', sans-serif;
    font-size: calc(1rem + 1vw);
    font-size: small;
    align:center;
}

#boton_agregar{
    max-width:

}

.clickable-card {
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.clickable-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .15);
}

@media (max-width: 992px) {
    .clickable-card:hover {
        transform: scale(1.03);
    }
}

.clickable-card > a {
    color: black;
}


